body{
    background-color: #FDF1B8;
}
header{
    text-align: center;
    text-shadow: 2px;
    margin-bottom: 5%;
}
h2{
    text-align: center;
}
.container{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgba(255, 255, 255, 0.14);
    margin-right: 20%;
    margin-left: 20%;
}
.container input{

    border: 2px;
    background-color: #150cd2;
    color: white;
}

h3{
    text-align: center;
    margin-top: 5%;
}

h4{
    text-align: center;
    margin-top: 5%;
}
form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
table{
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
th, tr{
    padding:15px;
    border-bottom: 1px solid #ddd;
}
th{
    text-align: center;
}
tr:hover {
    background-color: #ddd;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    background-color:#150cd2;
    color: white; 
}
#ipssi{
    padding-top: 20px;
    text-align: center;
    width: 50%;
}
#ipssi a{
    text-decoration: none;
}
#nous{
    text-align: center;
    width: 50%;
}

#liste_auteurs ul{
    list-style: none;
}
.containerF{
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-right: 20%;
    margin-left: 20%;
}


/*nav bar */

.navbar-brand{
    color: white;
}

.navbar-nav a{
    color:#add3f4;
    font-weight: bold;
}
.navbar-nav :hover{
    color: white;
}