body{
    background-color: #FDF1B8;
}
header{
    text-align: center;
    text-shadow: 2px;
    margin-bottom: 5%;
}
h2{
    text-align: center;
}
.container{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #fff7cd;
    margin-right: 20%;
    margin-left: 20%;
}

h3{
    text-align: center;
    margin-top: 5%;
}

h4{
    text-align: center;
    margin-top: 5%;
}
form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
table{
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
th, tr{
    padding:15px;
    border-bottom: 1px solid #ddd;
}
th{
    text-align: center;
}
tr:hover {
    background-color: #ddd;
}

footer{
    background-color: #fff7cd;
    display: flex;
}
#ipssi{
    padding-top: 20px;
    text-align: center;
    width: 50%;
}
#ipssi a{
    text-decoration: none;
}
#nous{
    text-align: center;
    width: 50%;
}

#liste_auteurs ul{
    list-style: none;
}
