body{
    background-color: #FDF1B8;
}
header{
    text-align: center;
    text-shadow: 2px;
    margin-bottom: 5%;
}
h2{
    text-align: center;
}
.container{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgba(255, 255, 255, 0.14);
    margin-right: 20%;
    margin-left: 20%;
}
.container input{

    border: 2px;
    background-color: #150cd2;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

h3{
    text-align: center;
    margin-top: 5%;
}

h4{
    text-align: center;
    margin-top: 5%;
}
form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
table{
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
th, tr,td{
    padding:15px;
    border-bottom: 1px solid #ddd;
}
th{
    text-align: center;
}
tr:hover {
    background-color: #ddd;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}
tr{
    text-align:center;
}

footer{
    padding-top: 1%;
    margin-top: 5%;
    background-color:#150cd2;
    color: white; 
}
#LinkIPSSI:hover{
    color: white;
}
#ipssi{
    text-align: center;
}
#ipssi a{
    text-decoration: none;
}
#nous{
    text-align: center;
}
#nous ul{
    list-style: none;
}
.containerF{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-right: 20%;
    margin-left: 20%;
}

/*nav bar */

.navbar-brand{
    color:#add3f4;
}
.navbar-brand:hover{
    color: white;
}
.navbar-nav a{
    color:#add3f4;
    font-weight: bold;
}
.navbar-nav :hover{
    color: white;
}
/* Boutons */

#FormType{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
#FormMoteur{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
#FormTarif{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
#FormAM{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
#FormAV{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
#FormAll{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

input[type=text]{
    border: 2px solid #150cd2;
    border-radius: 4px;
    margin: 2%;
}
input[type=submit]{
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px solid #150cd2;
    border-radius: 8px;
    background-color: white;
    color: #150cd2;
    margin-right: 0.4%;
    margin-left: 0.4%;
}
input[type=submit]:hover{
    background-color: #150cd2;
    color: white;
}
#valider{
    margin-left: 50%;
    margin-right: 50%;
    border: 2px solid #150cd2;
    border-radius: 8px;
    background-color: white;
    color: #150cd2;

}
#valider:hover{
    background-color: #150cd2;
    color: white;
}
